.idea
node_modules/
.pnp
.pnp.js
.idea/workspace.xml

/coverage

build/
logs/

.env
.env.local
.env.development
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store